{# Pour bien faire faudrait factoriser ça dans index.html mais ça diffère un peu (pas de loop) #}

<div class="item" onmouseover="setCowords(this, 'visible');" onmouseout="setCowords(this, 'hidden');">
    <div class="cowords">
        {{ previous_word }}<br>
        {{ word }}
    </div>
    {% if quote[4] > 0 %}
		<img src="{{ quote[2] }}" width="100%"/><br/>
	{% endif %}
    {# height="{{ quote[3] }}" width="{{ quote[4] }} #}
    <div class="legende">
        <a href="{{ 'http://gallica.bnf.fr'~quote[0] }}">{{ quote[1] }}</a>
    </div>
    {% if quote[5] > 0 %}
        <div class="annotation">Temps de lecture: {{ quote[5]|read_time }}</div>
    {% endif %}
</div>
<a href="/next/{{ word|quote }}">{{ word }}</a>