<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='momentum.css') }}">
    <meta charset="UTF-8">
    <title>Momentum !</title>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


		<div class="header">
			<span class="title">Momentum !</span>
		</div>
		<div class="border"></div>

		<div class="question">
			<p class="question-vert">Sacreubleu !</p>
			Aujourd'hui est un jour de
		</div>


		<div class="menu-emotions">

    {% for word in words[0:6] %}
		<div class="emotion">
			<a class="a-emotion" href="{{ 'momentum/'~word }}">{{ word }}</a>
		</div>
    {% endfor %}

</table>

</body>
</html>