<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='momentum.css') }}">
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.jscroll.min.js') }}"></script>
	</head>
	<body>
		<div class="header">
			<span class="title">Momentum !</span>
		</div>
		<hr>
		<div class="main">

            {% for band in bands %}
            {% set outer_loop = loop %}
			<div class="band">
                {% for quote in band %}
                    {% set first_item = loop.first %}
                    {% set previous_word = word_pairs[outer_loop.index0][loop.index0 - 1][0] %}
                    {% set word = word_pairs[outer_loop.index0][loop.index0 - 1][1] %}
                    {% set last_word = loop.last %}
                    {% include "fragment.html" %}
                {% endfor %}
            </div>
            {% endfor %}
		</div>
        <script>
            //params = { padding: -10 };
            //$('.band').each(function() { $(this).jscroll(params); });
            $('.band').jscroll({autoTriggerUntil: 50});

            function setCowords(item, vis) {
                console.log(vis);
                item.firstElementChild.style.visibility = vis;
                {# item.childNodes[0].style.visibility = vis; #}
            }
        </script>
	</body>
</html>
