<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='momentum.css') }}">
	</head>
	<body>
		<div class="header">
			<span class="title">Momentum !</span>
		</div>
		<hr>
		<div class="main">
            {% for band in bands %}
			<div class="band">
                {% for quote in band %}
                    <div class="item">
                        {{ quote }}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
		</div>
	</body>
</html>
