<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='momentum.css') }}">
    <meta charset="UTF-8">
    <title>Momentum !</title>
</head>
<body>

		<div class="header">
			<span class="title">Momentum !</span>
		</div>
		<div class="border"></div>

		<div class="question">
			<p class="question-vert">Sacreubleu !</p>
			Aujourd'hui est un jour de
		</div>


		<div class="menu-emotions">

    {% for word in words[0:6] %}
		<div class="emotion">
			<a class="a-emotion" href="{{ 'momentum/'~word }}">{{ word }}</a>
		</div>
    {% endfor %}

</table>

</body>
</html>